@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*  GLOBAL START*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/*  GLOBAL END*/
/* MODAL START*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.backdrop.open {
  opacity: 1;
  visibility: visible;
}

/* MODAL END*/
/* HEADER START*/
.header {
  position: relative;
  background-color: #fff;
  transition: top 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.header__row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  /* min-width: 15vh; */
  width: 100%;
  padding: 0 20px;
}
.header__menu {
  position: absolute;
  top: 104px;
  right: -100%;
  width: 383px;
  height: calc(100vh - 104px);
  display: block;
  background-color: #fff;
  padding: 30px 0 30px 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: -1;
}
.header__menu-link {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.header__menu-block {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.header__menu__block-name {
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.header__menu__block-btn {
  border: 2px solid grey;
  width: 320px;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 17px;
  color: black;
  transition: all 0.3s ease;
}
.header__menu__block-btn:hover {
  background-color: #000;
  color: #fff;
  border: none;
}
.header__menu.open {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.header__btn {
  border: none;
  background-color: inherit;
}

.list__navbar {
  display: flex;
}
.list__menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  min-height: 400px;
  left: 0;
  top: 104px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.list__menu.open {
  opacity: 1;
  visibility: visible;
}
.list__btn {
  position: relative;
  padding: 40px 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}
.list__btn:hover {
  color: #e89f38;
}
.list__btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e89f38;
  opacity: 0;
  transition: all 0.3s;
}
.list__btn:hover::before {
  opacity: 1;
}
.list__btn.active::before {
  opacity: 1;
}

.block__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.d-none {
  display: none;
}

/* HEADER END*/
/* SECTION START*/
.section {
  width: 100%;
  height: auto;
}
.section__medium {
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/constructor/living_14032022.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 765px;
}

/* SECTION END*/
/* MAIN START */
.news {
  margin-top: 80px;
}
.news__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 31%;
  height: 435px;
  position: relative;
  background-color: red;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__bg img {
  width: 100%;
  height: 100%;
}
.card__list {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 4px;
}
.card__list-item {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
}
.card__list-item__list-item:hover {
  border-color: #e89f38;
}

/* MAIN END */
/* MAIN__TWO START */
.main__two {
  padding-top: 50px;
}
.main__two_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main__two_nav-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  line-height: 32px;
  font-weight: 400;
}
.main__two_cards {
  display: flex;
  align-items: center;
}
.main__two_card {
  margin-right: 20px;
}

/* MAIN__TWO END */
/* MAIN__CATALOG START*/
.main__catalog {
  padding: 50px 0 0 0;
}
.main__catalog_subtitle {
  text-align: end;
}
.main__catalog-cards {
  display: flex;
  flex-wrap: wrap;
}
.main__catalog-cards_one {
  width: 439.98px;
  height: 460px;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/kyxny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 65px;
}
.main__catalog-cards_one a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  display: block;
  margin-bottom: 3px;
  color: #000;
}
.main__catalog-cards_one a:not(:first-child):hover {
  text-decoration: underline;
}
.main__catalog-cards_one h4 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: none;
}
.main__catalog-cards_one h4:hover {
  text-decoration: none;
}
.main__catalog-cards_two {
  margin: 0 10px 10px 20px;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/spaliny.jpg");
}
.main__catalog-cards_three {
  margin-left: 10px;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/gostinaya.jpg");
}
.main__catalog-cards_four {
  margin: 10px 0 0 0;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/vannay.jpg");
}
.main__catalog-cards_five {
  margin: 10px 10px 0 20px;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/detskaya.jpg");
}
.main__catalog-cards_sixe {
  margin: 10px 0 0 10px;
  background-image: url("https://vasylisa.ru/themes/vasilisa/img/category/aksessuari.jpg");
}

/* MAIN__CATALOG END*/
/*MAIN_THREE START*/
.cold__link {
  font-family: "Montserrat", sans-serif;
  margin-top: 110px;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.cold__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.cold__text-2 {
  margin-top: 20px;
  line-height: 30px;
  width: 950px;
}
.cold__text-1 {
  line-height: 30px;
  width: 900px;
}
.cold__min-text {
  color: gray;
  padding: 30px 0;
}
.cold__box {
  display: block;
}
.cold__box-1 {
  width: 990px;
  display: flex;
  gap: 40px;
}
.cold__box-1 img {
  width: 20%;
}
.cold__box-2 {
  margin-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

/*MAIN_THREE END*/
/*FOOTER START*/
.box__menu {
  display: flex;
  gap: 150px;
  padding-bottom: 80px;
  border-bottom: 1px solid grey;
}
.box__menu-a {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 18px;
}
.box__menu-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box__menu button {
  background-color: inherit;
  border: none;
}

.num {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 500;
}

.footer__menu {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__name {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.footer__link {
  font-weight: 700;
  font-size: 25px;
  color: gray;
}

/*FOOTER END*//*# sourceMappingURL=style.css.map */